.imgProfile{
    height: auto;
    width: 100%;
    padding-top: 5vh;
    padding-right: 25vw;
    padding-left: 25vw;
    padding-bottom: 5vh;
}

.editarP{
    padding-bottom: 0px;
}
.avatarProfile{
    width: auto;
    height: auto;
    margin: auto;
}

.ionChip{
    margin-top: -18%;
}

.sairPerfil{  
    margin-top: 43%;
    margin-left: 73%;
}