<ion-content>
  <ion-list>
    <ion-card *ngFor="let receita of receitasLista" color="primary">
      <img src="" />
      <ion-card-header>
        <ion-img *ngIf="receita.imagem" [src]="receita.imagem"></ion-img>
        <img *ngIf="!receita.imagem" src="assets/default.png">
        <ion-card-subtitle>{{receita.releaseYear}}</ion-card-subtitle>
        <ion-card-title>{{receita.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>Rende {{receita.porcao}} porções</ion-card-content>
      <ion-card-content>{{receita.tempodepreparo}} min</ion-card-content>
      <ion-label class="verMais" color="secondary" (click)="verReceita(receita)">Ver mais</ion-label>
    </ion-card>
  </ion-list>
</ion-content>