<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" (click)="dismiss()" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <div (click)="changePhoto()">
      <img *ngIf="!verReceita.imagem" src="assets/default.png">
      <ion-img *ngIf="verReceita.imagem" [src]="verReceita.imagem"></ion-img>
    </div>

    <ion-item>
      <ion-text *ngIf="!isEditingReceita" color="primary">
        <h3>{{verReceita.titulo}}</h3>
      </ion-text>
      <ion-input *ngIf="isEditingReceita" color="primary" [(ngModel)]="verReceita.titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-text *ngIf="!isEditingReceita" color="primary">
        <h5>{{verReceita.ingredientes}}</h5>
      </ion-text>
      <ion-input *ngIf="isEditingReceita" color="primary" [(ngModel)]="verReceita.ingredientes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="!isEditingReceita" color="primary">Rende {{verReceita.porcao}} porções</ion-label>
      <ion-input class="porcao" *ngIf="isEditingReceita" color="primary" [(ngModel)]="verReceita.porcao"> Porções: </ion-input>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="!isEditingReceita" color="primary">{{verReceita.tempodepreparo}} minutos</ion-label>
      <ion-input class="tempo" *ngIf="isEditingReceita" color="primary" [(ngModel)]="verReceita.tempodepreparo">Minutos:</ion-input>
    </ion-item>

    <ion-item>
      <ion-text *ngIf="!isEditingReceita" color="primary">
        <h5>{{verReceita.mododepreparo}}</h5>
      </ion-text>
      <ion-input *ngIf="isEditingReceita" color="primary" [(ngModel)]="verReceita.mododepreparo"></ion-input>

    </ion-item>
  </ion-list>

  <ion-item>
    <ion-button *ngIf="!isEditingReceita" (click)="edit()" color="dark">Editar Receita</ion-button>
    <ion-button *ngIf="isEditingReceita" (click)="cancelEdit()" color="dark">Cancelar</ion-button>
    <ion-button *ngIf="isEditingReceita" (click)="confEditReceita()" color="dark">Salvar</ion-button>
  </ion-item>

</ion-content>